/* Write your CSS here */
/* Write your CSS here */
.carousel-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  align-items: center;
  height: 100vh;
  padding: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-container {
  padding: 20px;
  text-align: center;
  max-width: 700px;
  width: 100%;
}

.carousel-heading {
  color: #05acff;
  font-family: Roboto;
  font-weight: bold;
}